@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  
  font-family: "Quicksand";
  color: wheat;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #0b0b0b;
}

/* Layout */

/* Navigation bar */

.navbar {
  position: fixed;
  display: flex;
  background-color: #0b0b0b;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
  top: 0;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.links {
  margin-top: 65px;
}

.navbar a:hover {
  color: #8B7500;
}

.logo-image {
  display: inline;
  max-width: 150px;
  margin-left: 1%;
}

/* Footer */
.footer {
  background-image: linear-gradient(to right, #8B7500 25%, #CDAD00 45%, #8B7500 85%);
  height: 150px;
  position: relative;
}

.footer-text {
  padding-top: 4%;
  color: #121211;
  font-size: 10pt;
}

.footer a {
  margin-top: 3%;
}

.fb-image-footer {
  width: 75px;
}

.insta-image-footer {
  width: 75px;
}

.footer-buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-buttonbox img:hover {
  width: 95px;
}

.leonieke-gootjes {
  position: absolute;
  margin-left: 15px;
  margin-bottom:0px;
  font-size: 10px;
}

.leonieke-gootjes p {
  color: #0b0b0b;
}

/* Not Found */
.not-found {
  background-color: #0b0b0b;
  text-align: center;
}

/* Home */

.home {
  background-color: #0b0b0b;
  margin-top: 125px;
}

.home h2 {
  text-align: center;
  padding-bottom: 15px;
}

.images-home {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 5px;
  padding-bottom: 15px;
  z-index: 1;
}

.home-links {
  text-decoration: none;
}

.home-h3-horses {
  position: absolute;
  top: 19%;
  left: 9%;
  z-index: -1;
}

.home-h3-instruction {
  position: absolute;
  top: 19%;
  left: 42%;
  z-index: -1;
}

.home-h3-training {
  position: absolute;
  top: 19%;
  left: 76%;
  z-index: -1;
}

.home-links img {
  transition: 1s;
}

.home-links img:hover {
  position: relative;
  top: -6px;
  border: solid 5px #8B7500;
  opacity: 0;
}

.home-image {
  max-width: 250px;
  border: solid 5px wheat;
  border-radius: 50%;
}

.home-text {
  background-image: linear-gradient(to right, #8B7500 25%, #CDAD00 45%, #8B7500 85%);
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid wheat;
  border-radius: 5px;
}

.home-text p {
  color: #0b0b0b;
}

.home-service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 15px;
  margin-right: 15px;
}

.home-service-child {
  display: flex;
  flex-direction: row;
}

.home-service-child h6 {
  margin-top: 5px;
  margin-left: 3px;
}

.star-image {
  width: 25px;
  height: 25px;
  padding-left: 3px;
}

.boxes-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.boxes-home p {
  color: #0b0b0b;
  font-size: 10pt;
}

.read-more-image {
  width: 100px;
  margin-left: 40px;
}

.box-about-me { 
  width: 250px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 5px;
  border: #8B7500 5px solid;
}

.box-about-me .read-more-image:hover {
  position: relative;
  bottom: 6px;
  width: 125px;
}

.home-image-box {
  height: fit-content;
}

.box-calendar {
  width: 250px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 5px;
  border: #8B7500 5px solid;
}

.box-calendar .read-more-image:hover {
  position: relative;
  bottom: 6px;
  width: 125px;
}

.horsetruck {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.truck-image {
  width: 50px;
}

.line-image {
  width: 300px;
  height: 15px;
  margin-top: 15px;
}

.horsetruck-image {
  width: 300px;
  height: 35px;
}

.horsetruck-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.symbols {
  width: 50px;
  height: 35px;
  padding-bottom: 0px;
}

.horsestruck-symbols {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.horsestruck-symbols h6 {
  padding-left: 10px;
  margin-top: 10px;
}

.horsetruck-logos .horsestruck-symbols h6:hover {
  color: #8B7500;
  font-size: 18px;
}

.horsetruck-links {
  text-decoration: none;
}

.line {
  width: 100%;
  height: 15px;
  margin-bottom: 15px;
}

.home-image-box {
  max-height: 250px;
  border: solid 5px wheat;
  border-radius: 5px;
}

.home-bottom-image {
  max-width: 175px;
  height: 110px;
  border: solid 2px #8B7500;
  border-radius: 5px;
}

.box-contact-for-sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  margin-bottom: 15px;
}

.box-for-sale {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: wheat;
  border: 2px solid #8B7500;
  border-radius: 5px;
  text-decoration: none;
  height: 110px;
}

.box-for-sale:hover {
  position: relative;
  top: -6px;
  border: 2px solid wheat;
}

.for-sale-image {
  width: 225px;
  height: 100px;
  margin-right: 5px;
} 

.box-contact {
  display: flex;
  justify-content: space-around;
  background-color: #8B7500;
  border: 2px solid wheat;
  border-radius: 5px;
  height: 110px;
}

.box-contact:hover {
  position: relative;
  top: -6px;
  border: 2px solid #8B7500;
}

.contact-image {
  width: 225px;
  padding: 8px;
}

/* About Me */
.about-me {
  background-color: #0b0b0b;
  margin-top: 125px;
  font-size: 14px;
} 

.box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
  margin: 15px;
  text-align: center;
}

.text-1 {
  padding: 15px;
}

.box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
  margin: 15px;
  text-align: center;
}

.text-2 {
  padding: 15px;
  box-shadow: 5px, 5px 15px 8px #8B7500;
}

.box-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin: 15px;
  text-align: center;
}

.text-slider {
  width: 30%;
}

.container {
  width: 300px;
  height: 225px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 10px 25px 30px #8B7500;
  margin-top: 5%;
}

.wrapper {
  width: 300px;
  height: 225px;
  display: flex;
  animation: slide 18s infinite;
}

@keyframes slide {
  0%{transform: translateX(0)}
  25%{transform: translateX(0)}
  30%{transform: translateX(-100%)}
  50%{transform: translateX(-100%)}
  55%{transform: translateX(-200%)}
  75%{transform: translateX(-200%)}
  80%{transform: translateX(-300%)}
  100%{transform: translateX(-300%)}
}

.wrapper img {
  width: 300px;
  height: auto;
}

.slider-image-2 {
  padding-right: 15px;
}

/* Horses */
.horses {
  background-color: #0b0b0b;
  margin-top: 125px;
}

.horses a {
  text-decoration: none;
}

.horse-list {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.horse-list p {
  font-size: 9pt;
}

.horse-display {
  border: wheat solid 2px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.list h3 {
  margin-left: 75px;
}

.horse-img {
    width: 225px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

/* Horses details*/

.horse-detail-box {
  background-color: #0b0b0b;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.horse-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.horse-detail-text {
  border: 5px solid wheat;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.horse-for-sale {
  width: 100px;
}

.horse-details-photo {
  border: 5px solid #8B7500;
  border-radius: 5px;
  padding: 5px;
} 

.horse-details-photo img {
  align-items: center;
  width: 100%;
  border-radius: 5px;
}

.back-button-box-horse-detail {
  margin-bottom: 15px;
}

.back-button-horse-detail {
  margin-left: 15px;
  text-decoration: none;
}

/* For sale */

.for-sale a {
  text-decoration: none;
}

.back-button-for-sale {
  text-decoration: none;
  margin-left: 70px;
}

/* Instruction */

/* Training */

.training {
  margin-top: 150px;
  margin-left: 50px;
}

.phonenumber {
  width: 300px;
  height: 75px;
}

.pop-up-container {
  position: relative;
  top: 25px;
  height: 400px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.pop-up {
  position: absolute;
  background: wheat;
  padding: 30px;
  box-sizing: border-box;
}

.pop-up h3 {
  color: #0b0b0b;
}

.pop-up p {
  color: #0b0b0b;
}

.cross {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #8B7500;
  font-size: 50px;
  background-color: #0b0b0b;
  border-radius: 9px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

/* effect pop-up */

.pop-up-container {
  top: -400px;
  animation: drop 3s ease forwards ;
}

@keyframes drop {
  0%{opacity: 0;}
  70%{transform: translateY(450px);}
  100%{transform: translateY(400px); opacity: 1;}
}

/* Horse Taxi */

.horse-taxi {
  margin-left: 50px;
  margin-top: 150px;
}

.road {
  height: 150px;
  width: 100%;
  margin-left: 0%;
}

.horsetruck-animation {
  width: 125px;
  position: absolute;
  margin-top: 50px;
  margin-left: -130px;
  animation-name: drive;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes drive {
  from {transfrom: translateX(-200px);}
  to {transform: translateX(1400px);}
}

/* Calendar */

.calendar {
  margin-left: 50px;
  margin-top: 125px;
}

.calendar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px;
}

.calendar-display {
  position: relative;
  border: wheat solid 2px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 130px;
  font-size: 10pt;
  width: 250px;
  margin-bottom: 15px;
}

.calendar-display .submit-image {
  position: absolute;
  width: 150px;
  height: auto;
  padding-left: 40px;
  bottom: 2%;
  right: 27%;
}

/* Contact */

.contact {
  margin-left: 50px;
  background-color: #0b0b0b;
}
