@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  
  font-family: "Quicksand";
  color: wheat;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #0b0b0b;
}

/* Layout */

/* Navigation bar */

.navbar {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 100%;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.links {
  margin-top: 65px;
}

.navbar a:hover {
  color: #CD6600;
}

.logo-image {
  max-width: 150px;
  margin-left: 1%;
}

/* Footer */
.footer {
  background-image: linear-gradient(to right, #8B7500 25%, #CDAD00 45%, #8B7500 85%);
  height: 150px;
  position: relative;
}

.footer-text {
  padding-top: 4%;
  color: #121211;
  font-size: 10pt;
}

.footer a {
  margin-top: 4%;
}

.footer-button {
  text-align: center;
  text-decoration: none;
  border-color: #121211;
  background-color: #121211;
  max-width: 150px;
  max-height: 50px;
  padding: .75rem 1.375rem;
  color: wheat;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.footer-buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leonieke-gootjes {
  position: absolute;
  margin-left: 15px;
  margin-bottom:0px;
  font-size: 10px;
}

.leonieke-gootjes p {
  color: #0b0b0b;
}

/* Not Found */
.not-found {
  background-color: #0b0b0b;
  text-align: center;
}

/* Home */

.home {
  padding-top: 15px;
  background-color: #0b0b0b;
}

.home h1 {
  text-align: center;
}

.home h4 {
  text-align: center;
}

.images-home {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: 5px;
  padding-bottom: 15px;
}

.home-image {
  max-width: 250px;
  border: solid 5px wheat;
  border-radius: 50%;
}

.home-text {
  background-image: linear-gradient(to right, #8B7500 25%, #CDAD00 45%, #8B7500 85%);
  color: #0b0b0b;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
}

.boxes-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.boxes-home p {
  color: #0b0b0b;
}

.boxes-home button:hover {
  color: #CD6600;
}

.boxes-home button {
  position: absolute;
  margin-bottom: 125px;
  max-width: 100%;
  color: #0b0b0b;
  background-color: wheat;
  transition: transform .1s ease-in-out;
  border-radius: 5px;
}

.box-about-me { 
  max-width: 300px;
  background-color: wheat;
  padding: 15px;
  border-radius: 5px;
}

.box-calendar {
  max-width: 300px;
  background-color: wheat;
  padding: 15px;
  border-radius: 5px;
}

.home-image-box {
  max-height: 250px;
  border: solid 5px wheat;
  border-radius: 5px;
}

.box-contact a {
  text-decoration: none;
}

.home-contact-image {
  max-width: 40px;
}

/* About Me */
.about-me {
  background-color: #0b0b0b;
}

/* Horses */
.horses {
  background-color: #0b0b0b;
}

.horses a {
  text-decoration: none;
}

.horse-list {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.horse-list p {
  font-size: 10pt;
}

.horse-display {
  border: wheat solid 2px;
  border-radius: 5px;
  padding: 25px;
  margin-top: 40px;
}

.horse-button {
  text-decoration: none;
  border-color: #121211;
  background-color: wheat;
  max-width: 150px;
  max-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  color: #121211;
  font-weight: 400;
  font-size: 8pt;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.list h3 {
  margin-left: 75px;
}

.horse-img {
  max-width: 200px;
}

/* Horses details*/
.horse-detail-box {
  background-color: #0b0b0b;
  margin-left: 50px;
  margin-bottom: 15px;
}

/* Contact */
.contact {
  background-color: #0b0b0b;
}